@font-face {
    font-family: 'SHABNAM';
    src: url("Shabnam-Bold.woff");
}
body{
    display: flex;
    height: 100vh;
    font-family: 'SHABNAM';
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #282c34;
}
.container{
    perspective: 1000px;
}
.image {
    width: 16rem;
    height: 16rem;
    transition: transform 0.3s ease; /* Smooth transition */
    transform-style: preserve-3d;
    cursor: pointer;
    margin: auto;
}
.image img {
    width: 100%;
    height: 100%;
    display: block;
    backface-visibility: hidden;
}
.coin{
    display: flex;
    justify-content: center
}
.imami_coin_img{
    max-width: 100%;
    max-height: 100%;
    transition: 0.2s all;
}
.coin_click{
    max-width: 16rem;
    max-height: 16rem;
    border-radius: 100%;
    outline: none;
    border: none;
    background: inherit;
    transition: 0.05s all;
}
.scores{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12rem;
}
.imami_coin_score_img{
    max-width: 5rem;
    max-height: 5rem;
    margin-right: 0.5rem;
}
#score{
    max-width: 2rem;
    font-weight: bold;
    font-size: 2rem;
    max-height: 2rem;
    color: #fff;
}
