@font-face {
    font-family: 'SHABNAM';
    src: url("Shabnam-Bold.woff");
}
body{
    display: flex;
    height: 100vh;
    font-family: 'SHABNAM';
    justify-content: center;
    align-items: center;
}
.coin{
    display: flex;
    justify-content: center
}
.imami_coin_img{
    max-width: 100%;
    max-height: 100%;
    transition: 0.2s all;
}
.coin_click{
    max-width: 16rem;
    max-height: 16rem;
    border-radius: 100%;
    outline: none;
    border: none;
    background: inherit;
    transition: 0.05s all;
}
.coin_click:active .imami_coin_img{
    transform: scale(1.05);
}
.scores{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12rem;
}
.imami_coin_score_img{
    max-width: 5rem;
    max-height: 5rem;
    margin-right: 0.5rem;
}
#score{
    max-width: 2rem;
    font-weight: bold;
    font-size: 2rem;
    max-height: 2rem;
}
